 body {background-color:rgb(56, 56, 58);
    color:lightblue;
    font-family: monospace; }

    #wIn {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color:cadetblue;
    }
    #WotS {
        font-family: 'Times New Roman', Times, serif;
        background-color: darkgoldenrod;
        color:darkturquoise;
    }
    #StuffPFP {
      background-color:midnightblue;
      color:lightblue;
    }
      #TrC {
        background-color:jade;
        color:green;
    }
#TrCa:link{
 text-decoration:underline double;
 color:lightgreen;
 background-color:teal;
}
#TrCa:visited{
color:orchid;
 background-color:lightskyblue;
 border:double;
}
#TrCa:hover{
text-size:20px;
 text-decoration:underline double;
 color:lightcyan;
  background-color:midnightblue;
}
#TrCa:active{
text-decoration:overline;
 color:teal;
 background-color:lightgreen;
}
#upDiv{
display:flex;
 justify-content:spacebetween;
 align-items:center;
}
